.Header{
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid rgba(112, 110, 110, 0.2);
}

.Logo {
    color: #E30614;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.Logo img{
    width: 60px;
    height: 60px;
}

.Logo p{
    font-weight: 900;
    font-size: 28px;
}


.Header-center ul li{
    display: inline ;
    margin: 5px;
    padding: 25px;
    font-weight: 600;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.Header-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.Header-right button {
    background: none;
    border: 1px solid rgba(86, 86, 86, 0.4);
    cursor: pointer;
    height: 36px;
    width: 80px;
    border-radius: 3px;
}

.changelang{
    height: 20px;
}

.changelang select{
    border: none;
}
